.mySwiper {
    .slider-wrapper {
        position: relative;
    }

    .slider-main {
        position: absolute;
        top: 38%;
        left: 0%;
        max-width: 1200px;
        .title {
            font-size: 30px;
            text-transform: uppercase;
            // color: red;
        }
        .content {
            font-size: 100px;
            margin: -10px 0;
            color: red;
            max-width: 1000px;
        }
        // .description {

        // }
        .button {
            color: white;
            font-size: 30px;
            text-transform: uppercase;
            background-color: black;
            padding: 0 40px;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: #868e96;
      }
  

}